main > div {
    margin: 10rem;
}

@media screen and (min-width: 681px){
    main {
        display: flex;
        justify-content: center;
    }
    main > div {
        margin: 10rem;
        width: 40rem;
    }
}

@media screen and (max-width: 680px) {
    main > div {
        margin: 1rem;
    }
}